<p style="color: green"><%= notice %></p>

<%= render @friend_interaction %>

<div>
  <%= link_to "Edit this friend interaction", edit_friend_interaction_path(@friend_interaction) %> |
  <%= link_to "Back to friend interactions", friend_interactions_path %>

  <%= button_to "Destroy this friend interaction", @friend_interaction, method: :delete %>
</div>
