<%= form_with(model: interaction) do |form| %>
  <% if interaction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(interaction.errors.count, "error") %> prohibited this interaction from being saved:</h2>

      <ul>
        <% interaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :occured_at, style: "display: block" %>
    <%= form.datetime_field :occured_at %>
  </div>

  <div>
    <%= form.label :notes, style: "display: block" %>
    <%= form.text_area :notes, style: "height: 300px" %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
