<div id="<%= dom_id interaction %>">
 <p>
    <h1><%= interaction.name %></h1>
    <i><%= interaction.occured_at %></i>


  <p>
    <strong>Participants:</strong>
    <% interaction.friends.each do |friend| %>
        <li><%= friend.full_name %></li>
    <% end %>

    <%= markdown(interaction.notes) %>
  </p>

</div>
