<div id="<%= dom_id interaction %>">
 <p>
    <h1><%= interaction.name %></h1>
    <i><%= interaction.occured_at %></i>
  </p>

  <p>
    <% interaction.friends.each do |friend| %>
        <%= friend.full_name %>
    <% end %>
  </p>

  <p>
    <%= markdown(interaction.notes) %>
  </p>

</div>
