<div id="<%= dom_id interaction %>">
  <p>
    <strong>Name:</strong>
    <%= interaction.name %>
  </p>


  <p>
    <strong>Participants:</strong>
    <% interaction.friends.each do |friend| %>
        <li><%= friend.full_name %></li>
    <% end %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= interaction.notes %>
  </p>

  <p>
    <strong>Occured at:</strong>
    <%= interaction.occured_at %>
  </p>

</div>
